body{
  background-color: whitesmoke;
  font-size: 1rem;
  font-family:'Times New Roman', Times, serif;
}

h1, h2{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

div.contenido, div.contenidoPeli{
  display: flex;
  margin: auto;
  flex-wrap: row wrap;
  justify-content: space-evenly;
}

div.contenidoPeli{
  justify-content: space-between;
}

div.contenedor{
  border: 1px solid black;
  width: 45%;
  min-width: 280px;
  min-height: 500px;
  margin-bottom: 1rem;
}

form .elemento  {
  margin: 0.5rem 10%;
}

form .elemento input{
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3rem 0.3rem;
  font-size: 1rem;
  font-family:'Times New Roman', Times, serif;
}

form .boton{
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 1rem;
  width: 30%;
  margin: 0 35% 1rem;
  text-align: center;
  padding: 0.5rem 1rem;

}
.boton:hover{
  color: whitesmoke;
  background-color: black;
  
}

.pelicula{
  width: 90%;
  padding: 1rem;
  margin: auto;
  border: 1px solid black;
}

.nombre{
  font-size: 1rem;
  font-style: italic;
}

.genero{
  font-size: 0.8rem;
}
.descripcion{
  font-size: 1rem;

}

.botonesControl{
  display: flex;
  margin: auto;
  flex-wrap: row wrap;
  justify-content: space-evenly;
}
.botonesControl span{
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3rem;
  background-color: whitesmoke;
  color: black;
  
}

.botonesControl span:hover{
  background-color: black;
  color: whitesmoke ;
}

